@charset "UTF-8"

* {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #034AA6, #0455BF, #B3CFF2);
}
main{
    background-color: white;
    border-radius: 10px;

    box-shadow: 5px 5px 15px #11233a8e ;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #BF7E04;
    text-align: center;
    text-shadow: 1px 1px 1px #795003a8;
}
h2{
    color: #0455BF;
}
p {
    text-align: justify;
}